/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Dosis', sans-serif;
}




/* container a tutta pagina */
.container{
    height: 100vh;
    background-size: cover;
    position: relative;
    border-radius: 50px;
    border: 10px solid white;
}

/* immagine di background personalizzata per ogni sezione */
.container#trento{
    background-image: url(https://dpv87w1mllzh1.cloudfront.net/alitalia_discover/attachments/data/000/001/690/original/Venice-What-to-see-in-Trent-Trentino-Alto-Adige-1920x1080.jpg?1531228683);
}

.container#fassa{
    background-image: url(https://i.pinimg.com/originals/04/c4/81/04c481ff99882225aec41723919a1445.jpg);
}

.container#brenta{
    background-image: url(https://www.hotelcanada.info/var/ezdemo_site/storage/images/media/images/la-tua-vacanza/dolomiti/2946-1-ita-IT/Dolomiti.jpg);
}

/* leggera sfocatura dell'immagine per far risaltare la scritta */
/* funziona anche solo con background ed height (perche?) */
/* uso calc per il bordo dell'overlay perchè mettendo il bordo al container penso che vada a sfasarmi le curvature di overlay e immagine ma non mi è chiarissimo*/
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: #00000040;
    height: 100%;
    border-radius: calc(50px - 10px);
    /* non dovrebbe essere 50-10-10. Eppure viene giusto così */
}

/* nomi centrati rispetto all'immagine */
/* aggiungo text align per centrare il sottotilo relativamente al titolo */
.names{
    position: absolute;
    text-shadow: 5px 5px 5px #000000;
    font-size: calc(1em + 2vw);
    color: white;
    font-weight: 800;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
